<ion-view view-title="รายละเอียด">

  <ion-content data-tap-disabled="true">
    <div>
      <ion-scroll direction="xy">
        <ul class="list" style="margin-bottom:50px;">
          <li class="item">
            <strong>หมายเลขระวาง : </strong>{{landval.utm1}} IV {{landval.utm3}}
          </li>
          <li class="item">
            <strong>มาตราส่วน : </strong>{{landval.utmscale}}
          </li>
          <li class="item">
            <strong>เลขที่ดิน : </strong>{{landval.landno}} ,<strong>เลขโฉนดที่ดิน : </strong>{{landval.parcelno}}
          </li> 
          <li class="item">
            <strong>เนื้อที่ : </strong> {{landval.rai}} ไร่ {{landval.ngan}} งาน {{landval.wa}} วา
          </li>
          <li class="item">
            <strong>หน้าสำรวจ  : </strong>{{landval.surveyno==''?'-':landval.surveyno}}
          </li>
          <li class="item">
            <strong>ตำบล : </strong>{{landval.tumbol}} ,<strong>อำเภอ</strong> : </strong>{{landval.amphurname}} ,<strong>จังหวัด</strong> : </strong>{{landval.provname}}
          </li> 
          <li class="item">
            <strong>สำนักงานที่ดิน : </strong>สำนักงานที่ดินจังหวัด {{landval.landoffice}}
          </li>
          <li class="item">
            <strong>ราคาประเมินรายแปลงกรมธนารักษ์ : </strong><br>กรุณาตรวจสอบข้อมูลผ่านทาง <br> <a href="#" onclick="window.open('http://property.treasury.go.th/pvmwebsite/index.asp', '_system', 'location=yes'); return false;">เว็บไซต์กรมธนารักษ์</a>
          </li>
          <li class="item">
            <strong>ตำแหน่งที่ดิน : </strong><a href ng-click="launchggmap()">{{landval.parcellat}},{{landval.parcellon}}</a>
          </li>

        </ul>
      </ion-scroll>
    </div>
  </ion-content>
  <div class="panel-bottom">
    <button class="btn-block" style="float: left;background: #FF8030;" ng-click="gotolandoffice()">นำทางไปที่สำนักงาน</button>
    <button class="btn-block" ng-click="gotoland()" style="float: right;background: #2E938A;">นำทางไปที่ดิน</button>
  </div>
</ion-view>